# User-specific files

requirements_updated.txt
StdOut.txt
StdErr.txt

data_*.json
_data_*.json

param_*.json
_param_*.json

*_ID.id
*.log
*.png
*.svg

__pycache__/
*output/

# Sphinx documentation
docs/_build/
